h1 {
  text-align: center;
  margin-bottom: 10px; 
  background-color: var(--primary-color);
  padding-bottom: 10px;;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

caption {
  text-align: left;
  font-size: large;
}

table, th, td {
  border-color: black;
  border-width: 1px;
  border-style: outset;
}

th, td {
  padding: 10px;
  min-width: 120px;
}

th {
  background-color: var(--secondary-color);
  font-weight: bolder;
  font-size: large;
  padding: 8px;
  text-decoration: underline;
}

tr:nth-child(even) {
  background-color: rgb(240, 248, 255);
}

tr:nth-child(odd) {
  background-color: rgb(255, 250, 250);
}

ul {
  padding-left: 25px;
}

li {
  margin-bottom: 5px;
}

tr td:first-child {
  font-weight: bold;
}

iframe {
  width: 200px;
  height: 200px;
  border: 0;
}