figure {
  padding: 20px;
  margin-bottom: 50px;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  background-color: aliceblue;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  font-style: italic;
  margin-top: 5px;
}

img {
  max-height: 70vh;
  max-width: 90vw;
  object-fit: contain;
  border-radius: 5px;
  border-style: outset;
  border-color: rgb(118, 118, 118);
  border-width: 2px;
}

main {
  text-align: center;
}