* {
  font-family: Calibri, sans-serif;
  --primary-color: #fcfeff;
  --secondary-color: rgba(205,232,241,1);
  --ternary-color: aliceblue;
}

a {
  text-decoration:none;
  color: darkblue;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;

  background-color: var(--primary-color);
  background-image:  radial-gradient(rgba(205,232,241,1) 1.55px, transparent 1.55px), radial-gradient(rgba(205,232,241,1) 1.55px, #fcfeff 1.55px);
  background-size: 62px 62px;
  background-position: 0 0,31px 31px;
}

main {
  flex-grow: 1;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  
}

main a:hover {
  text-decoration: underline;
}

h1 {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
  font-weight: bolder;
}

h2 {
  text-decoration: dashed underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
  font-weight: bold;
}

h1, h2 {
  margin-top: 15px;
  margin-bottom: 0px;
}

h2 + * {
  margin-top: 5px;
}