main {
  margin: 20px;
  /* margin-left: 40px; */

  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin-left: 5px;
}

main div {
  vertical-align: top;
}

section {
  width: 100%;
  padding: 5px;
  border-radius: 8px;
  margin-block: 10px;
}