main {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
}

#info {
  display: flex;
  flex-direction: column;
}

main div {
  vertical-align: top;
}

section {
  width: 100%;
  border-radius: 8px;
}