* {
  font-family: Calibri, sans-serif;
}

a {
  text-decoration:none;
  color: darkblue;
}

body {
  background-color: rgb(252, 254, 255);
}

main a:hover {
  text-decoration: underline;
}

h1 {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
}

h2 {
  text-decoration: dashed underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
}

h1, h2 {
  margin-top: 15px;
  margin-bottom: 0px;
}

h2 + * {
  margin-top: 5px;
}